/* CSS Percentage Circle
http://circle.firchow.net */

/* Tabs css from pitaya
https://codepen.io/flkt-crnpio/pen/WxROwy */
/*========== Start Basic Style ==========*/
@font-face {
  font-family: "king";
  src: url('fonts/kingsgmb.ttf');
  }
::selection {
  background: #EBEBEB; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EBEBEB; /* Gecko Browsers */
}
.fixed-top{
  position: absolute;
}
.navbar{
  background-color: transparent;
  /* background: linear-gradient(to right, #FB789D 0%,#FBB8A0 100%); */
  box-shadow: rgba(0, 0, 0, 0.00) 0px 1px 6px 4px !important;
}
a{
	text-decoration: none;
	color: #171717;
}
a:hover{
	text-decoration: none;
	color: #EBEBEB;
	transition:all .2s;
}
.pure-img-border{
	width: 100%;
	border: 1px solid #171717;
	border-radius: 2px;
}
.test{
	margin-top: 1.9rem!important;
}
.padding-x{
	padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    /* color: rgba(255,255,255,0.6); */
    color: #171717;
    text-align: right;
    margin-right: 16px;
    font-family: "SanFranciscoBold";
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar {
  opacity: 1;
  background-color: #transparent;
  box-shadow: rgba(0, 0, 0, 0.00) 0px 1px 6px 4px !important;
  padding: .4rem 1rem;
  transition:all .3s;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0);
}
/*========== End Basic Style ==========*/
/*========== Start Home Style ==========*/
.home-img {
	/* background-color:#171717; */
  /* background-image: url(img/talk-hero-image.jpg); */
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
	/* background-color: #171717; */
  background-position:center;
  background-size:cover;
  position: absolute;
  /* height: 100vh; */
  min-height: 360px;
  width: 100vw;
  z-index: -1; }

.home {
  height: 100vh;
  min-height: 360px;
	background-color: #F3F3F3;
}

.home-table {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

.home-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.type h1{
  font-family: "king";
  letter-spacing: 0.5rem;
  font-size: 4rem;
  line-height: 100%;
  color: #171717;
}

.type h4{
  font-size: 1.5rem;
  color: #fff;
	letter-spacing: 0.1rem;
}


.type-hero{
  max-height: 80vh;
  min-height: 400px;
	overflow: hidden;
  /* z-index: -1; */
}

.child1{
  text-align: center;
}
.child2{
  /* text-align: right; */
  position: absolute;
  top: 50%;
  /* left: 50%; */
  overflow: hidden;
  width: 100%;
  transform: translate(-5%, -50%);
}

/*========== End Home Style ==========*/
/*========== Start Intro Style ==========*/
.intro-border h2:after{
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 4px solid #171717;
}

.intro-text{
  color: #BEBEBE;
}

.solution-text:after{
  content: "";
  display: block;
  width: 10%;
  float: right;
  margin-top: 60px;
  border-bottom: 4px solid #171717;
}
/*========== End Intro Style ==========*/






/*========== Start UI Style ==========*/
.ui {
	position:relative;
	/* padding:20px; */
	/* border-radius:10px; */
	opacity:1;
	transition: opacity 0.5s;
}
.swiper-slide {
  cursor:-webkit-grab;
	cursor:grab;
}
.swiper-slide-active {
	opacity:1;
}
.ui-one {
	overflow:hidden;
  cursor:-webkit-grab;
	cursor:grab;
}

.ui-one .swiper-pagination,
.carousel  .swiper-pagination {
	position:relative;
	bottom:auto;
	margin-top:30px;
}
/*
.swiper-pagination-bullet{
  background: #171717;
  opacity: 1;
} */
.swiper-pagination-bullet-active{
  background: #171717;
}
.ui-card img{
	 border: none;
	 /* border-radius:16px; */
	 box-shadow:0 2px 15px rgba(0,0,0,.1);
	 transition:all .25s;
}
.ui-card:hover{
	/* transform:scale(.99,.99); */
	/* box-shadow:0 2px 5px rgba(0,0,0,.0); */
}
.container-fluid{
	margin: 0;
	padding: 0;
}
/*========== End UI Style ==========*/
.pure-img{
  width: 100%;
}

/*========== Start Mockup1 Style ==========*/
.mockup1-img {
  /* background-color:#F6F6F6; */
  background-image: url(img/mockup-halo.jpg);
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 65vh;
  /* min-height: 360px; */
  z-index: -1;
}

/*========== End Mockup1 Style ==========*/

/*========== Start more work Style ==========*/
.img-card:hover {
  transform:scale(1,1);
	box-shadow:0 2px 5px rgba(0,0,0,.15);
}
/*========== End more work Style ==========*/
/*========== Start Responsive Style ==========*/
@media (max-width:992px){

}

@media (max-width: 768px) {
	.halo-hero{
		max-height: 50vh;
		min-height: 200px;
		/* z-index: -1; */
	}

	.halo-h1{
		font-family: "SanFranciscoBold";
		letter-spacing: 0rem;
		font-size: 2.5rem;
		line-height: 120%;
		color: #EBEBEB;
	}

	.halo-h4{
		font-size: 1.25rem;
		color: #EBEBEB;
	}

	.child1{
		text-align: center;
		margin-bottom: 10%;
	}
	.child2{
		text-align: center;
		position: relative;
		top: 0%;
		/* left: 50%; */
		overflow: hidden;
		width: 100%;
		transform: translate(-0%, -0%);
		/* margin-bottom: 20%; */
	}
}

@media (max-width: 576px) {
	.type h1{
	  font-family: "king";
		letter-spacing: 0.2rem;
	  font-size: 2rem;
	  line-height: 100%;
	  color: #171717;
	}

	.type h4{
	  font-size: 0.9rem;
	  color: #fff;
	}

  .halo-logo{
    max-width: 50%;
  }

	.hero-img{
	  max-height: 40vh;
	  min-height: 200px;
	  /* z-index: -1; */
	}
	.child1{
		text-align: center;
		margin-bottom: -25%;
	}
	.child2{
		text-align: center;
		position: relative;
		top: 75%;
		/* left: 50%; */
		overflow: hidden;
		width: 100%;
		transform: translate(-0%, -0%);
		margin-bottom: 20%;
	}
  .home-table {
    display: table;
    position: relative;
    height: 90%;
    width: 100%;
  }
	body{
		font-size: 0.9rem;
	}
	h2{
		font-size: 1.2rem;
	}
	.brand-h2{
		font-size: 2rem;
	}
	h3,
	h5{
		font-size: 0.9rem;
	}
	.solution-text:after{
	  content: "";
	  display: none;
	  width: 10%;
	  float: right;
	  margin-top: 110px;
	  border-bottom: 4px solid #171717;
	}
	.test{
		margin-top: 1rem!important;
	}
	.logo-image{
	  width: 100%;
	}
  .design_strategy{
    max-width: 80%;
  }
	.type-hero{
	  max-height: 45vh;
	  min-height: 300px;
	  /* z-index: -1; */
	}

}
/*========== End Responsive Style ==========*/
