/* JAVASCRIPT & CSS IMAGE COMPARISON
https://www.cssscript.com/tag/image-comparison/ */
::selection {
  background: #bababa; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #bababa; /* Gecko Browsers */
}
.fixed-top{
  position: absolute;
}
body{
  background-color: #000;
}
h2,
h3{
  color: #EBEBEB;
}
.navbar {
  background-color: #000;
}
.text{
  color: #EBEBEB;
}

a{
	text-decoration: none;
	color: #EBEBEB;
}
a:hover{
	text-decoration: none;
	color: #bababa;
	transition:all .2s;
}
.footer-bottom {
    padding: 24px 0;
    border-top: 1px solid #bababa;
}
.copyright a:hover {
    color: #EBEBEB;
    text-decoration: none;
}
/*========== End Basic Style ==========*/
/*========== Start Home Style ==========*/
.velite h1{
  font-family: "SanFranciscoBold";
  font-size: 3rem;
  line-height: 100%;
  color: #fff;
	letter-spacing: 0.1rem;
}

.velite h4{
  font-size: 1.5rem;
  color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.home-img {
  background-image: url(img/maserati-hero-image.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  background-position: center;
  background-size: cover;
  position: absolute;
  /* height: 100vh; */
  min-height: 360px;
  width: 100vw;
  z-index: -1;
}

.home {
  height: 100vh;
  min-height: 360px;
}

.home-table {
  display: table;
  position: relative;
  height: 70%;
  width: 100%;
}

.home-table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*========== End Home Style ==========*/
/*========== Start Intro Style ==========*/
.intro-border h2:after{
  content: "";
  display: block;
  width: 10%;
  padding-top: 6px;
  border-bottom: 4px solid #fff;
}

.intro-text{
  color: #bababa;
}
/*========== End Intro Style ==========*/
/*========== Start slidescreen Style ==========*/
.left-img{
  padding-right: 8px;
}
.right-img{
  padding-left: 8px;
}
/*========== Start slidescreen Style ==========*/
.pure-img{
  width: 100%;
}
/*========== End smartphone app Style ==========*/
/*========== Start Branding Style ==========*/
.branding-img {
  background-color:#21A3C1;
  /* background-image: url(img/bg_branding.jpg); */
  background-position: scroll;
  /* background-attachment: fixed; */
  background-size: cover;
  position: relative;
  width: 100vw;
  min-height: 360px;
  z-index: -1;
}

.branding-text{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    /* width: 100%; */
    transform: translate(-50%, -50%);
}
.branding-text img{
	max-width: 300px;
}
/*========== End Branding Style ==========*/
.logo-image{
  width: 50%;
}
/*========== Start Mockup1 Style ==========*/
.mockup1-img {
  /* background-color:#F6F6F6; */
  background-image: url(img/Render07a.jpg);
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 80vh;
  /* min-height: 360px; */
  z-index: -1;
}

/*========== End Mockup1 Style ==========*/
/*========== Start UI Style ==========*/
.ui {
	position:relative;
	/* padding:20px; */
	/* border-radius:10px; */
	opacity:1;
	transition: opacity 0.5s;
}
.swiper-slide {
  cursor:-webkit-grab;
	cursor:grab;
}
.swiper-slide-active {
	opacity:1;
}
.ui-one {
	overflow:hidden;
  cursor:-webkit-grab;
	cursor:grab;
}

.ui-one .swiper-pagination,
.carousel  .swiper-pagination {
	position:relative;
	bottom:auto;
	margin-top:30px;
}
/*
.swiper-pagination-bullet{
  background: #171717;
  opacity: 1;
} */
.swiper-pagination-bullet-active{
  background: #171717;
}

.ui-card img{
	 border: none;
	 /* border-radius:16px; */
	 box-shadow:0 2px 15px rgba(0,0,0,.1);
	 transition:all .25s;
}
.ui-card:hover{
	/* transform:scale(.99,.99); */
	/* box-shadow:0 2px 5px rgba(0,0,0,.0); */
}

.container-fluid{
	margin: 0;
	padding: 0;
}
/*========== End UI Style ==========*/
/*========== Start smartphone app Style ==========*/
.pure-img{
  width: 100%;
}
.smartphone-border h2:after{
	margin: 0 auto;
  content: "";
  display: block;
  width: 15%;
  padding-top: 10px;
  border-bottom: 4px solid #171717;
}
/*========== End smartphone app Style ==========*/
/*========== Start pdf Style ==========*/
.last-btn a {
  text-transform: none;
  font-family: "SanFranciscoBold";
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
}

.last-btn .btn {
  border-radius: .5rem;
}

.last-btn .btn-outline-warning {
  color:  #171717;
  border: 0.14rem solid;
  border-color: #171717;
  transition: all .1s ease-in-out;
}

.last-btn .btn-outline-warning:hover {
	color: #fff !important;
	border-color: #21A3C1;
  background-color: #21A3C1 !important;
  border-color: transparent !important;
  transition: all .1s ease-in-out;
}

.last-btn .btn-outline-warning:focus {
	color: #fff !important;
	border-color: #21A3C1;
  background-color: #21A3C1 !important;
  border-color: transparent !important;
  box-shadow: none !important;
	transition: all .1s ease-in-out;

}

.last-btn .btn-outline-warning:active {
  color: #fff !important;
	border-color: #21A3C1;
  background-color: #21A3C1 !important;
  border-color: transparent !important;
	transition: all .1s ease-in-out;
}
/*========== End pdf Style ==========*/
/*========== Start more work Style ==========*/
.img-card:hover {
  transform:scale(1,1);
	box-shadow:0 2px 5px rgba(0,0,0,.15);
}
/*========== End more work Style ==========*/
/*========== Start Responsive Style ==========*/
@media (max-width:992px){

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
	.velite h1{
		letter-spacing: 0.1rem;
	  font-size: 1.8rem;
	}

	.velite h4{
	  font-size: 1.1rem;
	  color: #fff;
		text-transform: uppercase;
	}

	.hero-img{
	  max-height: 40vh;
	  min-height: 200px;
	  /* z-index: -1; */
	}
	.child1{
		text-align: center;
		margin-bottom: -25%;
	}
	.child2{
		text-align: center;
		position: relative;
		top: 75%;
		/* left: 50%; */
		overflow: hidden;
		width: 100%;
		transform: translate(-0%, -0%);
		margin-bottom: 20%;
	}
	body{
		font-size: 0.9rem;
	}
	h2{
		font-size: 1.2rem;
	}
	.brand-h2{
		font-size: 2rem;
	}
	h3,
	h5{
		font-size: 0.9rem;
	}
	.solution-text:after{
		content: "";
		display: none;
		width: 10%;
		float: right;
		margin-top: 110px;
		border-bottom: 4px solid #171717;
	}
	.vision-img {
	  background-attachment:inherit;
	}
	.branding-text img{
		max-width: 200px;
	}
	.tabs [class^="tab"] [type="radio"],
	.tabs [class*=" tab"] [type="radio"] {
	    display: none;
	}
	.tab-text{
		/* text-transform: uppercase; */
		/* font-family: "SanFranciscoBold"; */
	}
	.tabs [class^="tab"] label,
	.tabs [class*=" tab"] label {
	    /* color: #21A3C1; */
			border-bottom: 2px solid #EBEBEB;
			letter-spacing: -0.025rem;
			display: block;
	    width: 80%;
			margin: 0 auto;
	  }
}
/*========== End Responsive Style ==========*/
